
body {
	background-color: #fff2bf;
}

main[role="main"] {
    margin-top: 4rem;
    min-height: 80vh;
    margin-bottom: 4rem;
}


footer {
    color: #FFF;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-producto {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

#login i {
    display: block;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.navbar-brand i {
    display: block;
    text-align: center;
    font-size: 2rem;
}

.table td {
    text-align: right;
    vertical-align: bottom;
}

.img-tabla {
    text-align: center;
}
